/*
 * Copyright (c) 2004, Martin Strubel
 *
 * Style sheet for device file editor
 *
 */

@import url(xmldata.css);

@namespace dev "http://www.section5.ch/dclib/schema/devdesc";

dev|revision,
dev|vendor,
dev|header,
dev|returncodes,
dev|errorspec, dev|warnspec,
dev|device,
dev|registermap,
dev|register,
dev|bitfield,
dev|property, dev|array, dev|struct,
dev|device
{
	collapsed: yes;
}

dev|device > dev|registermap:before {
    content: division(content(paragraph(content(collapser(collapsed-icon, 
                                                          icon(pop-right), 
                                                          expanded-icon,
                                                          icon(pop-down)), " ",
					        element-name(), " ", 
					        label(attribute, name,
						      font-weight, bold), "  ",
					        replace-button(), " ",
					        insert-before-button(), " ",
					        insert-button(), " ",
					        insert-after-button(), " ",
					        convert-button(), " ",
					        delete-button(), "  ",
                                                add-attribute-button(
                                                    check-has-attributes, yes,
                                                    color, navy)),
                                         background-color, #a0a0f0,
                                         padding-left, 4),
                              attributes(margin-top, 2,
                                         margin-bottom, 2,
                                         margin-left, 2,
                                         margin-right, 2)));
}

dev|register:before {
    content: division(content(paragraph(content(collapser(collapsed-icon, 
                                                          icon(pop-right), 
                                                          expanded-icon,
                                                          icon(pop-down)), " ",
					        element-name(), " ", 
					        label(attribute, id,
						      font-weight, bold), "  ",
					        replace-button(), " ",
					        insert-before-button(), " ",
					        insert-button(), " ",
					        insert-after-button(), " ",
					        convert-button(), " ",
					        delete-button(), "  ",
                                                add-attribute-button(
                                                    check-has-attributes, yes,
                                                    color, navy)),
                                         background-color, #c0c0f0,
                                         padding-left, 4),
                              attributes(margin-top, 2,
                                         margin-bottom, 2,
                                         margin-left, 2,
                                         margin-right, 2)));
}

dev|bitfield:before {
    content: division(content(paragraph(content(collapser(collapsed-icon, 
                                                          icon(pop-right), 
                                                          expanded-icon,
                                                          icon(pop-down)), " ",
					        element-name(), " ", 
					        label(attribute, name,
						      font-weight, bold), "  ",
					        replace-button(), " ",
					        insert-before-button(), " ",
					        insert-button(), " ",
					        insert-after-button(), " ",
					        convert-button(), " ",
					        delete-button(), "  ",
                                                add-attribute-button(
                                                    check-has-attributes, yes,
                                                    color, navy)),
                                         background-color, #cccc22,
                                         padding-left, 4),
                              attributes(margin-top, 2,
                                         margin-bottom, 2,
                                         margin-left, 2,
                                         margin-right, 2)));
}
dev|regref:before {
    content: division(content(paragraph(content(collapser(collapsed-icon, 
                                                          icon(pop-right), 
                                                          expanded-icon,
                                                          icon(pop-down)), " ",
					        element-name(), " ", 
					        label(attribute, ref,
						      font-weight, bold), "  ",
					        replace-button(), " ",
					        insert-before-button(), " ",
					        insert-button(), " ",
					        insert-after-button(), " ",
					        convert-button(), " ",
					        delete-button(), "  ",
                                                add-attribute-button(
                                                    check-has-attributes, yes,
                                                    color, navy)),
                                         background-color, #e0e0f0,
                                         padding-left, 4),
                              attributes(margin-top, 2,
                                         margin-bottom, 2,
                                         margin-left, 2,
                                         margin-right, 2)));
}


dev|array > dev|struct:before,
dev|item:before,
dev|errorspec:before,
dev|warnspec:before,
dev|choice:before
{
    content: division(content(paragraph(content(collapser(collapsed-icon, 
                                                          icon(pop-right), 
                                                          expanded-icon,
                                                          icon(pop-down)), " ",
					        element-name(), " ", 
					        label(attribute, name,
						      font-weight, bold), "  ",
					        replace-button(), " ",
					        insert-before-button(), " ",
					        insert-button(), " ",
					        insert-after-button(), " ",
					        convert-button(), " ",
					        delete-button(), "  ",
                                                add-attribute-button(
                                                    check-has-attributes, yes,
                                                    color, navy)),
                                         background-color, #c9b597,
                                         padding-left, 4),
                              attributes(margin-top, 2,
                                         margin-bottom, 2,
                                         margin-left, 2,
                                         margin-right, 2)));
}

dev|group > dev|array:before,
dev|group > dev|struct:before,
dev|group > dev|property:before
{
    content: division(content(paragraph(content(collapser(collapsed-icon, 
                                                          icon(pop-right), 
                                                          expanded-icon,
                                                          icon(pop-down)), " ",
					        element-name(), " ", 
					        label(attribute, name,
						      font-weight, bold), "  ",
					        replace-button(), " ",
					        insert-before-button(), " ",
					        insert-button(), " ",
					        insert-after-button(), " ",
					        convert-button(), " ",
					        delete-button(), "  ",
                                                add-attribute-button(
                                                    check-has-attributes, yes,
                                                    color, navy)),
                                         background-color, #C0E0E0,
                                         padding-left, 4),
                              attributes(margin-top, 2,
                                         margin-bottom, 2,
                                         margin-left, 2,
                                         margin-right, 2)));
}

dev|array > dev|property:before,
dev|struct > dev|property:before,
dev|struct > dev|array:before
{
    content: division(content(paragraph(content(collapser(collapsed-icon, 
                                                          icon(pop-right), 
                                                          expanded-icon,
                                                          icon(pop-down)), " ",
					        element-name(), " ", 
					        label(attribute, name,
						      font-weight, bold), "  ",
					        replace-button(), " ",
					        insert-before-button(), " ",
					        insert-button(), " ",
					        insert-after-button(), " ",
					        convert-button(), " ",
					        delete-button(), "  ",
                                                add-attribute-button(
                                                    check-has-attributes, yes,
                                                    color, navy)),
                                         background-color, #bfe2be,
                                         padding-left, 4),
                              attributes(margin-top, 2,
                                         margin-bottom, 2,
                                         margin-left, 2,
                                         margin-right, 2)));
}

dev|device:before
{
    content: division(content(paragraph(content(collapser(collapsed-icon, 
                                                          icon(pop-right), 
                                                          expanded-icon,
                                                          icon(pop-down)), " ",
					        element-name(), " ", 
					        label(attribute, name,
						      font-weight, bold), "  ",
					        replace-button(), " ",
					        insert-before-button(), " ",
					        insert-button(), " ",
					        insert-after-button(), " ",
					        convert-button(), " ",
					        delete-button(), "  ",
                                                add-attribute-button(
                                                    check-has-attributes, yes,
                                                    color, navy)),
                                         background-color, #e0a0a0,
                                         padding-left, 4),
                              attributes(margin-top, 2,
                                         margin-bottom, 2,
                                         margin-left, 2,
                                         margin-right, 2)));
}

dev|group:before
{
    content: division(content(paragraph(content(collapser(collapsed-icon, 
                                                          icon(pop-right), 
                                                          expanded-icon,
                                                          icon(pop-down)), " ",
					        element-name(), " ", 
					        label(attribute, name,
						      font-weight, bold), "  ",
					        replace-button(), " ",
					        insert-before-button(), " ",
					        insert-button(), " ",
					        insert-after-button(), " ",
					        convert-button(), " ",
					        delete-button(), "  ",
                                                add-attribute-button(
                                                    check-has-attributes, yes,
                                                    color, navy)),
                                         background-color, #f0e0e0,
                                         padding-left, 4),
                              attributes(margin-top, 2,
                                         margin-bottom, 2,
                                         margin-left, 2,
                                         margin-right, 2)));
}

dev|group > dev|property:before
{
    content: division(content(paragraph(content(collapser(collapsed-icon, 
                                                          icon(pop-right), 
                                                          expanded-icon,
                                                          icon(pop-down)), " ",
					        element-name(), " ", 
					        label(attribute, name,
						      font-weight, bold), "  ",
					        replace-button(), " ",
					        insert-before-button(), " ",
					        insert-button(), " ",
					        insert-after-button(), " ",
					        convert-button(), " ",
					        delete-button(), "  ",
                                                add-attribute-button(
                                                    check-has-attributes, yes,
                                                    color, navy)),
                                         background-color, #C0E0E0,
                                         padding-left, 4),
                              attributes(margin-top, 2,
                                         margin-bottom, 2,
                                         margin-left, 2,
                                         margin-right, 2)));
}

