/*
 * Copyright (c) 2003 Pixware. 
 *
 * This file is part of the XMLmind XML Editor project.
 * For conditions of distribution and use, see the accompanying legal.txt file.
 *
 * A generic style sheet for XML data.
 */

* {
    display: block;
    collapsible: yes;
    not-collapsible-head: 1;
    border: 1 solid gray;
    padding: 1;
    margin: 8 4;
}

*:before {
    display: inline;
    content: division(content(paragraph(content(collapser(collapsed-icon, 
                                                          icon(pop-right), 
                                                          expanded-icon,
                                                          icon(pop-down)), " ",
					        element-name(), "  ", 
					        replace-button(), " ",
					        insert-before-button(), " ",
					        insert-button(), " ",
					        insert-after-button(), " ",
					        convert-button(), " ",
					        delete-button(), "  ",
                                                add-attribute-button(
                                                    check-has-attributes, yes,
                                                    color, navy)),
                                         background-color, silver,
                                         padding-left, 4),
                              attributes(margin-top, 2,
                                         margin-bottom, 2,
                                         margin-left, 2,
                                         margin-right, 2)));
}

/* 
 * ***Trick*** no replaced content if element content type is different 
 * from data (i.e. mixed, element only, etc).
 */

* {
    content: value-editor();
}

*::attribute {
    attribute-content-left: attribute-name();
    attribute-content-middle: value-editor(attribute, attribute());
    attribute-content-right: 
        remove-attribute-button(attribute, attribute(),
                                check-required, yes,
                                color, navy);
    show-attribute: when-added;
}

*::comment,
*::processing-instruction {
    display: block;
    margin: 2px;
    white-space: pre;
    text-align: left;
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size: small;
}

*::comment {
    background-color: #FFFFCC;
    color: #808000;
}

*::processing-instruction {
    background-color: #CCFFCC;
    color: #008000;
}

@namespace xi url(http://www.w3.org/2001/XInclude);

xi|include {
    display: tree;
}
